.usersPage{
    background: rgb(240, 246, 255);
    border-radius: 10px;
    border: 2px solid #bebebe;
    margin-top: 20px;
    box-shadow:  0 0 11px rgba(0,0,0,0.6);
    max-width: 100%;
    min-height: 100%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom: none;
}
.userItem{
    display: flex;
    max-width: 70%;
    margin: 20px auto;
}
.userImg{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.userInfo{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    justify-content: space-between;
}
.userName{
    font-weight: 600;
    font-size: 18px;

}
.userStatus{
    font-size: 15px;
    color: rgba(0,0,0,0.6);
    margin-bottom: 40px;
    word-wrap: break-word;
    width: 400px;
}
.userLocation {
    margin-left: auto;
}
.userLocation span{
    display: block;
}
.selectedPage{
    font-weight: 600;
}
.page{
    padding: 0px 5px;
    cursor: pointer;
}
