.MyPosts{
    background: rgb(240, 246, 255);
    border-radius: 10px;
    border: 2px solid #bebebe;
    margin-top: 20px;
    box-shadow:  0 0 11px rgba(0,0,0,0.6);
}
.posts{
    width: 80%;
    margin: 0 auto;
}
.newPost{
    padding:0px 50px;
    margin: 15px 0px;
}
#newPostTxt{
    outline: none;
    resize: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 5px;
    width: 100%;
}
.btn{
    background: #1c2c90;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 15px;
}
.btn:hover{
    cursor: pointer;
}
.btn:active{
    background: #091568;
}