.header{
    grid-area: h;
    background: #2439C6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow:  0 0 11px rgba(0,0,0,0.6);
}
.logo{
    width: 50px;
    display: inline-block;
}
.right{
    display: flex;
    align-items: center;
}
.search__input{
    border: none;
    border-radius: 50px;
    width: 200px;
    padding: 10px;
    background: #1C2C90;
    color: #ffffff;
}
.search__btn{
    border: none;
    padding:10px 15px;
    border-radius: 50%;
    margin-left: 5px;
    background: #1C2C90;
    color: #fff;
}
.loginBlock{
    margin-right: 15px;
}
.loginBlock span{
    color: #fff;
}
.logoutBtn{
    text-transform: uppercase;
    border: none;
    background: #1C2C90;
    color: #fff;
    padding: 7px 15px;
    margin-right: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.logoutBtn:active{
    background: rgb(14, 26, 105);
}
.auth{
    color: #fff;
}