.nav{
    grid-area: n;
    background: blue;
    padding: 10px 2px;
    margin-right: 10px;
}
.item{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    display: block;
    padding: 0px 10px;
}
.active{
    background: #2439c6;
    border-radius: 50px;
}